html {
    box-sizing: border-box;
    
    text-align: justify;
}

header{
    background-color: bisque;
}

*::before,
*::after{
    box-sizing:inherit;
}

a{
    color:purple;
    text-decoration: none;
}

.center-pic{
    display:block;
    margin: auto;
    width: 500px;
    height: 350px;
    background-repeat: no-repeat;
    background-image: url(image/image1.webp);
}

.center-pic1{
    display:block;
    margin: auto;
    width: 500px;
    height: 350px;
    background-repeat: no-repeat;
    background-image: url(image/tsveta.jpg);

}

.center-pic2{
    display:block;
    margin: auto;
    width: 500px;
    height: 350px;
    background-repeat: no-repeat;
    background-image: url(image/glaz.jpg);

}

body{
    font-family: Arial, Verdana, sans-serif;
    padding: 0px 40px;
    font-family: Bradley Hand, cursive;  
    max-width: 100%;
}

.h1{
    font-family: Bradley Hand, cursive;
    justify-content: center;
    text-align:center;
}

.h2{
    font-family: Bradley Hand, cursive;
    text-align:center;
    justify-content: center;
}

.h3{
    font-family: Bradley Hand, cursive;
    text-align:center;
    justify-content: center;
}

.contenier{
    max-width: 1200 px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
    background-color:rgb(201, 200, 200);
    font-family: Bradley Hand, cursive;
}

.card-section{
    padding: 40px 0;
}

.cards{
    display: flex;
    flex-wrap: wrap;   
    gap: 20 px;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    list-style-type: none;
    justify-content: center;
    background-color: rgb(201, 201, 201);

}
 
.card{
    background-color:antiquewhite;
    width:300px;
    margin: 20px;
    font-family: Bradley Hand, cursive;
    text-align:center;
}

.text{
    margin: 0;
    justify-content: center;
}
